main .service .container, main .service .item, .cart-head > .container, .cart-head .step-wrap .w-25, .cart-item .item-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-logo, .cart-head .step-wrap .w-25 .progress-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.swiper-pagination-bullet {
  background-color: #aec6a1;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .logo img {
  height: 40px;
}

.navbar .nav-link i {
  font-size: 20px;
}

.navbar-bg-white {
  background-color: rgba(255, 255, 255, 0.95);
}

footer .footer-wrap {
  margin-top: 5rem;
  font-size: 0.9rem;
}

footer .footer-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-wrap .footer-menu-item {
  color: #aaa;
}

footer .footer-wrap .footer-menu-item:first-child {
  color: #555;
  margin-bottom: .5rem;
  letter-spacing: 1px;
}

footer .bg-light .container {
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bg-light .container .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bg-light .container .social-medias i {
  margin-right: .5rem;
}

main {
  background-color: #f9f5f2;
}

main .service {
  margin-top: 4rem;
}

main .service .title .h1 {
  text-align: center;
}

main .service .title p {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

main .service .title p::after {
  content: '';
  display: block;
  position: absolute;
  width: 3.125rem;
  height: .25rem;
  border-radius: .25rem;
  background-color: purple;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .service .item .circle-wrap {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: #aec6a1;
}

main .service .item .circle-wrap svg {
  width: 100%;
  color: #fff;
}

main .service .item .text-title {
  font-size: 1.25rem;
  font-weight: 600;
}

main .service .item .learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .service .item .learn-more i {
  font-size: 1.25rem;
}

main .service .btn {
  background-color: #aec6a1;
  border-color: #aec6a1;
  padding: 0.5rem 2rem;
}

main .pictureWall {
  margin-top: 4rem;
  overflow: hidden;
}

main .pictureWall .wall .row .row > * {
  padding: 5px;
}

main .pictureWall .wall img {
  width: 100%;
  height: 100%;
}

main #new-arrival {
  margin-top: 4rem;
}

main #new-arrival .row:last-of-type {
  margin-top: 1.5rem;
}

main #new-arrival .item {
  background-color: #fff;
  border-radius: .5rem;
  padding: 2rem;
}

main #new-arrival .item img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 100%;
}

main #new-arrival .item .subtitle {
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 200;
  color: #93b381;
}

main #new-arrival .item .h4 {
  color: #c0945c;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

main #new-arrival .item p {
  color: #333;
}

main {
  background-color: #eef3eb;
  padding-bottom: 4rem;
}

.cart-title {
  color: #c0945c;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.cart-head {
  background-color: #eef3eb;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}

.cart-head .step-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.cart-head .step-wrap .w-25 {
  position: relative;
}

.cart-head .step-wrap .w-25 .progress-step {
  background-color: #c5deec;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.cart-head .step-wrap .w-25 .progress {
  position: absolute;
  width: 70%;
  height: 0.625rem;
  right: 0;
  top: 27.5%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  background-color: #E5E7EB;
}

.cart-head .step-wrap .w-25 .progress .progress-bar {
  background-color: #86b8d4;
}

.cart-body {
  background-color: #fff;
  border-radius: .5rem;
  padding: 1rem;
  -webkit-box-shadow: 1rem 0.5rem 0.8rem rgba(155, 170, 146, 0.3);
          box-shadow: 1rem 0.5rem 0.8rem rgba(155, 170, 146, 0.3);
}

.cart-body .title {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.cart-body .cart-list {
  padding: .5rem 1rem;
}

.cart-body .cart-list hr {
  background-color: #93b381;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.cart-item .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-item .item-info img {
  width: 4.25rem;
  height: 4.25rem;
  margin-right: 0.8rem;
}

.cart-item .item-info .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-item .item-info .detail .product-color {
  font-size: 0.8rem;
  color: #aaa;
}

.cart-item .item-total {
  gap: 1rem;
}

.cart-item .item-total .item-count > * {
  margin-right: 0.25rem;
}

.cart-item .item-total .item-count .itemBtn {
  width: 1.625rem;
  height: 1.625rem;
}

.cart-item .item-total .item-count .itemInput {
  width: 3rem;
  padding: 2px .25rem;
  /* Firefox */
}

.cart-item .item-total .item-count .itemInput::-webkit-outer-spin-button, .cart-item .item-total .item-count .itemInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item .item-total .item-count .itemInput[type=number] {
  -moz-appearance: textfield;
}

.cart-item .hidden-price {
  display: none;
}

.cartTotal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cartTotal-wrap > span {
  display: inline-block;
}

.cartTotal-wrap .qty,
.cartTotal-wrap .subtotal,
.cartTotal-wrap .delivery-fee,
.cartTotal-wrap .totalWrap {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cartTotal-wrap .qty span:first-child,
.cartTotal-wrap .subtotal span:first-child,
.cartTotal-wrap .delivery-fee span:first-child,
.cartTotal-wrap .totalWrap span:first-child {
  color: #aaa;
}

.cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.cart-footer a {
  -webkit-transition: .2s;
  transition: .2s;
}

.cart-footer .back {
  color: #aaa;
}

.cart-footer .back:hover {
  color: #333;
}

.cart-footer .back i {
  margin-right: .25rem;
}

.cart-footer .next {
  background-color: #aec6a1;
  padding: .5rem 1.5rem;
}

.cart-footer .next:hover {
  color: #fff;
}
/*# sourceMappingURL=all.css.map */