main{
    background-color: $secondBackground;
    padding-bottom: 4rem;
}
.cart-title{
        color: $textColor;
        letter-spacing: 2px;
        margin-bottom: 1rem;
}
.cart-head{
    background-color: $secondBackground;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    & > .container{
        @extend %alignCenter;
    }

    .step-wrap{
        flex-direction: row;
        width: 100%;

        .w-25{
            // outline: #333 solid 1px;
            position: relative;
            @extend %alignCenter;

            .progress-step{
                background-color: #c5deec;
                width: 3rem;
                height: 3rem;
                @extend %beCenter;
                margin-bottom: 0.5rem;
            }
            .progress-text{
                
            }
            .progress{
                position: absolute;
                width: 70%;
                height: 0.625rem;
                right: 0;
                top: 27.5%;
                transform: translate(50%);
                background-color: #E5E7EB;

                .progress-bar{
                    background-color: #86b8d4;
                }
            }
        }
    }

    
}
.cart-body {
    background-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 1rem .5rem .8rem rgba(155, 170, 146, 0.3);
    .title{
        font-weight: 300;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    .cart-list {
        padding: .5rem 1rem;
        hr{
            background-color: $borderColor;
        }
    }
}
.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    .item-info {
        display: flex;
        justify-content: center;

        img {
            width: 4.25rem;
            height: 4.25rem;
            margin-right: 0.8rem;
        }

        .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .product-color {
                font-size: 0.8rem;
                color: #aaa;
            }
        }
    }

    .item-total {
        @extend %alignCenter;
        gap: 1rem;

        .item-count {
            &>* {
                margin-right: 0.25rem;
            }

            // &:last-child{
            //     margin-right: 0;
            // }

            .itemBtn {
                width: 1.625rem;
                height: 1.625rem;
            }

            .itemInput {
                width: 3rem;
                padding: 2px .25rem;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                &[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }

    }
    .hidden-price{
        display: none;
    }
}
.cartTotal-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // width: 25%;
    &>span{
        display: inline-block;
    }
    .qty,
    .subtotal,
    .delivery-fee,
    .totalWrap {
        width: 25%;
        display: flex;
        justify-content: space-between;
        span {
            &:first-child {
                color: #aaa;
            }
        }
    }
}

.cart-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back{
        i{
            margin-right: .25rem;
        }
    }
    .next{
        background-color: $themeColor;
        padding: .5rem 1rem;
    }
}