main{
    background-color: $background;

    .service{
            margin-top: 4rem;
        .container{
            @extend %alignCenter;
        }
        .title{
            .h1{
                text-align: center;
            }
            p {
                position: relative;
                padding: 1.5rem;
                text-align: center;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 3.125rem;
                    height: .25rem;
                    border-radius: .25rem;
                    background-color: purple;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }
        }
        .item{
            @extend %alignCenter;
            .circle-wrap{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                padding: 1rem;
                background-color: $themeColor;
                
                svg{
                    width: 100%;
                    color: #fff;
                }
            }
            .text-title{
                font-size: 1.25rem;
                font-weight: 600;
            }
            .learn-more{
                display: flex;
                justify-content: center;
                i{
                    font-size: 1.25rem;
                }
            }
        }
        .btn{
            background-color: $themeColor;
            border-color: $themeColor;
            padding: 0.5rem 2rem;
            // border-radius: .5rem;
        }
    }

    .pictureWall{
        margin-top: 4rem;
        overflow: hidden;
        .wall{
            .row{
                .row>* {
                    padding: 5px;
                }
            } 
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    #new-arrival{
        margin-top: 4rem;
        .row{
            &:last-of-type{
                margin-top: 1.5rem;
            }
        }
        .item{
            background-color: #fff;
            border-radius: .5rem;
            padding: 2rem;
            img{
                display: block;
                margin: auto;
                margin-bottom: 1rem;
                max-width: 100%;
            }
            .subtitle{
                font-size: 0.9rem;
                letter-spacing: 2px;
                font-weight: 200;
                color: $borderColor;
            }
            .h4{
                color: $textColor;
                font-weight: 300;
                letter-spacing: 1px;
                margin-bottom: 1.5rem;
            }
            p{
                color: #333;
            }
        }
    }
}