.how-to-pay,
.how-to-delivery{
    margin: 1rem;
    .title{
        margin-bottom: 1rem;
    }
    .form-check{
        margin-bottom: 0.5rem;
    }
}
.how-to-delivery{
    .title {
        margin-bottom: 1rem;
    }
}