$background:#f9f5f2;
$secondBackground:#eef3eb;

$themeColor: #aec6a1;

$hoverColor:#99b889;

$borderColor:#a5a5a5;

$textColor:#c0945c;

$cancelColor: #ccc;

$back_end_background:#d0dfe6;
$back_end_themeColor:#8abcd1;